---
import Layout from "../layouts/Layout.astro";
import ReactComponentA from "../components/ReactComponentA.jsx";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      React app A
    </h1>
    <ul role="list" class="link-card-grid">
      <h1>hey</h1>
      <ReactComponentA client:only="react" />
    </ul>
  </main>
</Layout>
